body{
    background-color: rgb(61, 35, 35);
}
.container{
    margin: 100px 0 0 200px;
    width: 70%;
    height: 450px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.container img {
width: 10%;
height: 100%;
object-fit: cover;
border-radius: 10px;
border: 2px solid rgba(rgb(13, 0, 255), rgb(124, 0, 128), rgb(255, 0, 17), alpha);
transition: all ease-in-out 0.5s;
}
.container  img:hover{
    width:25%;
}